* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@3.3/pics/bgi.png');
    cursor: url(https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@2.0/pics/featherpenpointer.cur), auto;
    height: 100%;
    overflow: hidden;
}


.el-footer {
    /* background-color: rgb(95, 158, 160); */
    color: black;
    text-align: center;
    line-height: 200px;
}



.el-menu-item,
.el-submenu__title {
    font-size: 17px;
    color: wheat;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    color: #333;
    text-align: center;
}

body>.el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.compass {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5%;
    top: 80%;
    user-select: none;
}

.compass img {
    transition: transform ease .3s;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.navbar {
    padding-top: 15px;
    width: 100%;
    height: 140px;
    background-color: transparant;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: navbarFall 1s ease-out 1;

}

@keyframes navbarFall {
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}

.navbar ul{
    cursor: url(https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@2.0/pics/HANDS%20CURSOR%203.cur), auto;
}

.navbar li {
    margin-right: 120px;
    float: left;
    font-size: 16px;
    list-style: none;
    /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=22923),auto; */
    cursor: url(https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@2.0/pics/HANDS%20CURSOR%203.cur), auto;
    user-select: none;
    position: relative;
    transition: top .7s;
    top: 0;
}

.navbar li:last-of-type{
    margin-right: 0;

}

.navbar li:hover {
    top: 30px;
}

.navbar li img {
    width: 24px;
}

.navbar li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=22923),auto; */
    cursor: url(https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@2.0/pics/HANDS%20CURSOR%203.cur), auto;
    user-select: none;
}

.nav_inside {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


}

.nav_inside li .navBox {
    position: relative;
    transform: rotate(5deg);
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(223, 220, 212);
    background: linear-gradient(to bottom, rgb(197, 194, 194), white);
    box-shadow: 5px 5px 10px gray;
    z-index: 9999;
    transition: transform ease .7s;
}

/* .nav_inside ul li:nth-child(2n+1) .navBox{
    transform: rotate(-5deg);

} */

.nav_inside li .navBox:hover{
    transform: rotate(0deg);
}


.nav_inside li .navBox .leftString {
    position: absolute;
    left: 20%;
    top: 0;
    width: 90px;
    height: 5px;
    background-image: url("../imgs/rope.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    transform-origin: 0 0;
    transform: rotate(-80deg);
    box-shadow: 2px 2px 4px gray;

}
.nav_inside li .navBox .rightString {
    position: absolute;
    right: 20%;
    top: 0;
    width: 80px;
    height: 5px;
    background-image: url("../imgs/rope.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    transform-origin: 100% 0;
    transform: rotate(80deg);
    box-shadow: -1px -1px 4px gray;



}
.nav_inside li .navBox .pinned{
    position: absolute;
    top: -100px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-image: url('../imgs/pinned.png');
    background-size: 100% 100%;
    z-index: 99999;
}

.nav_inside li .navBox a {
    display: inline-block;
    color: black;

}

.nav_inside li .navBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(97, 177, 177);
    border-radius: 10px 10px 0 0;

}

.nav_inside li .navBox::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(97, 177, 177);
    border-radius: 0 0 10px 10px;
}

/* .nav_inside li::before {
    content: "";
    position: absolute;
    left: 43px;
    background-color: gray;
    width: 100px;
    height: 2px;
    transform-origin: 0 0;

    transform: rotate(-90deg);

    background: silver;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
} */

/* .nav_inside li::after{
    content: "";
    position: absolute;
    left: 43px;
    background-color: black;
    width: 100px;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(-140deg);

} */


iframe {
    pointer-events: none;
    user-select: none;
}

.topDraw {
    position: absolute;
    top: -60px;
    left: -3500px;
    width: 8000px;
    height: 120vh;
    transform-origin: 0 0;
    transform: rotateX(180deg);
    z-index: 999;
}

.topDraw1 {
    background-color: rgb(233, 205, 193);
}

.topDraw2 {
    background-color: rgb(35, 172, 92);
}

.topDraw3 {
    background-color: darkcyan;
}

.topDraw4 {
    background-color: cornflowerblue;
}

.annexx_noise {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(https://static.tildacdn.com/tild3265-3261-4333-a361-353739633737/noise.gif);
    background-size:
        /*!size!*/
            200px
    /*!/size!*/
;
    opacity:
        /*!opacity!*/
            10%
    /*!/opacity!*/
;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    pointer-events: none;
}