.el-main {
    background-repeat: repeat;
    
}



.text--line {
    font-size: 7rem;
    font-family: satisfy, sans-serif;
}

.outline {
    fill: none;
    stroke: black;
    stroke-dasharray: 100%;
    stroke-dashoffset: 0;
    animation-name: outline;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


.fill {
    fill-opacity: 0;
    fill: black;
    animation-name: fill;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


@keyframes outline {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill-opacity: 0;
    }

    to {
        fill-opacity: 1;
    }
}


.QYbbQpfC_0 {
    stroke-dasharray: 1294 1296;
    stroke-dashoffset: 1295;
    animation: QYbbQpfC_draw 2000ms linear 0ms forwards;
}

.QYbbQpfC_1 {
    stroke-dasharray: 72 74;
    stroke-dashoffset: 73;
    animation: QYbbQpfC_draw 2000ms linear 1000ms forwards;
}

@keyframes QYbbQpfC_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes QYbbQpfC_fade {
    0% {
        stroke-opacity: 1;
    }

    94.44444444444444% {
        stroke-opacity: 1;
    }

    100% {
        stroke-opacity: 0;
    }
}

.header{
    height: 100vh;
}
.svg_arrow{
    position: absolute;
    left: 39.4997vw;
    top: 13.1666vw;
}
.welcome{
    position: absolute;
    left: 13.16vw;
    top: 9.87492vw;
}
.to{
    position: absolute;
    left: 19.7498vw;
    top: 19.7498vw;
}
.my{
    position: absolute;
    left: 65.9579vw;
    top: 25.0415vw;
}
.space{
    position: absolute;
    left: 76.12vw;
    top: 32.625vw;
}

#Tom_frame{
  position: absolute;
    left: 13.16vw;
    top: 25.625vw;
}


*{
    overflow: visible;
}
.text-copy{
    user-select: none;
}

/* welcome */
/***************************************************
 * Generated by SVG Artista on 10/13/2021, 7:38:14 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg.welcome .svg-elem-1 {
    stroke-dashoffset: 539.0382080078125px;
    stroke-dasharray: 539.0382080078125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
  }
  
  svg.welcome.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.welcome .svg-elem-2 {
    stroke-dashoffset: 204.99427795410156px;
    stroke-dasharray: 204.99427795410156px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s;
  }
  
  svg.welcome.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.welcome .svg-elem-3 {
    stroke-dashoffset: 134.07276916503906px;
    stroke-dasharray: 134.07276916503906px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                          fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                  fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
  }
  
  svg.welcome.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.welcome .svg-elem-4 {
    stroke-dashoffset: 194.38519287109375px;
    stroke-dasharray: 194.38519287109375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                          fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                  fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s;
  }
  
  svg.welcome.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.welcome .svg-elem-5 {
    stroke-dashoffset: 215.36154174804688px;
    stroke-dasharray: 215.36154174804688px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                          fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2000000000000002s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                  fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2000000000000002s;
  }
  
  svg.welcome.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.welcome .svg-elem-6 {
    stroke-dashoffset: 325.999267578125px;
    stroke-dasharray: 325.999267578125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                          fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                  fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s;
  }
  
  svg.welcome.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.welcome .svg-elem-7 {
    stroke-dashoffset: 205.08819580078125px;
    stroke-dasharray: 205.08819580078125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                          fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4000000000000001s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                  fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4000000000000001s;
  }
  
  svg.welcome.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  

  /* to */
  /***************************************************
 * Generated by SVG Artista on 10/13/2021, 7:45:58 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg.to .svg-elem-1 {
  stroke-dashoffset: 239.15463256835938px;
  stroke-dasharray: 239.15463256835938px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.to.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(35, 24, 21);
}

svg.to .svg-elem-2 {
  stroke-dashoffset: 215.3931427001953px;
  stroke-dasharray: 215.3931427001953px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.to.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(35, 24, 21);
}

/* my */
/***************************************************
 * Generated by SVG Artista on 10/13/2021, 7:56:38 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg.my .svg-elem-1 {
    stroke-dashoffset: 623.9391479492188px;
    stroke-dasharray: 623.9391479492188px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg.my.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.my .svg-elem-2 {
    stroke-dashoffset: 249.74851989746094px;
    stroke-dasharray: 249.74851989746094px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg.my.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  /* space */
  /***************************************************
 * Generated by SVG Artista on 10/13/2021, 8:00:24 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg.space .svg-elem-1 {
    stroke-dashoffset: 320.0987854003906px;
    stroke-dasharray: 320.0987854003906px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg.space.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.space .svg-elem-2 {
    stroke-dashoffset: 313.700927734375px;
    stroke-dasharray: 313.700927734375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg.space.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.space .svg-elem-3 {
    stroke-dashoffset: 238.19911193847656px;
    stroke-dasharray: 238.19911193847656px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg.space.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.space .svg-elem-4 {
    stroke-dashoffset: 194.5314483642578px;
    stroke-dasharray: 194.5314483642578px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg.space.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  
  svg.space .svg-elem-5 {
    stroke-dashoffset: 205.03131103515625px;
    stroke-dasharray: 205.03131103515625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg.space.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(35, 24, 21);
  }
  