* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 1.041666666vw;

}

body {
    background-image: url('https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@3.3/pics/bgi.png');
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.el-footer {
    /* background-color: rgb(95, 158, 160); */
    color: black;
    text-align: center;
    line-height: 12.5rem;
}

.el-menu-item,
.el-submenu__title {
    font-size: 1.0625rem;
    color: wheat;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 12.5rem;
}

.el-main {
    color: #333;
    text-align: center;
}

body>.el-container {
    margin-bottom: 2.5rem;

}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 16.25rem;
}

.el-container:nth-child(7) .el-aside {
    line-height: 20rem;
}

.compass {
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    left: 5%;
    top: 80%;
    user-select: none;
}

.compass img {
    transition: transform ease .3s;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.navbar {
    padding-top: 0.9375rem;
    width: 100%;
    height: 8.75rem;
    background-color: transparant;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: navbarFall 1s ease-out 1;

}

@keyframes navbarFall {
    0% {
        top: -6.25rem;
    }

    100% {
        top: 0;
    }
}

.navbar ul {
    cursor: url(https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@2.0/pics/HANDS%20CURSOR%203.cur), auto;
}

.navbar li {
    margin-right: 7.5rem;
    float: left;
    list-style: none;
    /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=22923),auto; */
    cursor: url(https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@2.0/pics/HANDS%20CURSOR%203.cur), auto;
    user-select: none;
    position: relative;
    transition: top .7s;
    top: 0;
}

.navbar li:last-of-type {
    margin-right: 0;

}

.navbar li:hover {
    top: 1.875rem;
}

.navbar li img {
    width: 1.5rem;
}

.navbar li a {
    font-size: 1em;
    color: black;
    text-decoration: none;
    /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=22923),auto; */
    cursor: url(https://cdn.jsdelivr.net/gh/ClarkKenty/CDN@2.0/pics/HANDS%20CURSOR%203.cur), auto;
    user-select: none;
}

.nav_inside {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


}

.nav_inside li .navBox {
    position: relative;
    transform: rotate(5deg);
    display: inline-block;
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    line-height: 3.125rem;
    text-align: center;
    background-color: rgb(223, 220, 212);
    background: linear-gradient(to bottom, rgb(197, 194, 194), white);
    box-shadow: 0.3125rem 0.3125rem 0.625rem gray;
    z-index: 9999;
    transition: transform ease .7s;
}

/* .nav_inside ul li:nth-child(2n+1) .navBox{
    transform: rotate(-5deg);

} */

.nav_inside li .navBox:hover {
    transform: rotate(0deg);
}


.nav_inside li .navBox .leftString {
    position: absolute;
    left: 20%;
    top: 0;
    width: 5.625rem;
    height: 0.3125rem;
    background-image: url("../imgs/rope.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    transform-origin: 0 0;
    transform: rotate(-80deg);
    box-shadow: 0.125rem 0.125rem 0.25rem gray;

}

.nav_inside li .navBox .rightString {
    position: absolute;
    right: 20%;
    top: 0;
    width: 5rem;
    height: 0.3125rem;
    background-image: url("../imgs/rope.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    transform-origin: 100% 0;
    transform: rotate(80deg);
    box-shadow: -0.0625rem -0.0625rem 0.25rem gray;



}

.nav_inside li .navBox .pinned {
    position: absolute;
    top: -6.25rem;
    left: calc(50% - 1.5625rem);
    width: 3.125rem;
    height: 3.125rem;
    background-image: url('../imgs/pinned.png');
    background-size: 100% 100%;
    z-index: 99999;
}

.nav_inside li .navBox a {
    display: inline-block;
    color: black;

}

.nav_inside li .navBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(97, 177, 177);
    border-radius: 0.625rem 0.625rem 0 0;

}

.nav_inside li .navBox::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(97, 177, 177);
    border-radius: 0 0 0.625rem 0.625rem;
}

/* .nav_inside li::before {
    content: "";
    position: absolute;
    left: 2.6875rem;
    background-color: gray;
    width: 6.25rem;
    height: 0.125rem;
    transform-origin: 0 0;

    transform: rotate(-90deg);

    background: silver;
    box-shadow: 0rem 0rem 0.125rem rgba(0, 0, 0, 0.4);
} */

/* .nav_inside li::after{
    content: "";
    position: absolute;
    left: 2.6875rem;
    background-color: black;
    width: 6.25rem;
    height: 0.125rem;
    transform-origin: 0 0;
    transform: rotate(-140deg);

} */


iframe {
    pointer-events: none;
    user-select: none;
}

.topDraw {
    position: absolute;
    top: -3.75rem;
    left: -218.75rem;
    width: 500rem;
    height: 120vh;
    transform-origin: 0 0;
    transform: rotateX(180deg);
    z-index: 999;
}

.topDraw1 {
    background-color: rgb(233, 205, 193);
}

.topDraw2 {
    background-color: rgb(35, 172, 92);
}

.topDraw3 {
    background-color: darkcyan;
}

.topDraw4 {
    background-color: cornflowerblue;
}

.annexx_noise {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(https://static.tildacdn.com/tild3265-3261-4333-a361-353739633737/noise.gif);
    background-size:
        /*!size!*/
        12.5rem
        /*!/size!*/
    ;
    opacity:
        /*!opacity!*/
        10%
        /*!/opacity!*/
    ;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    pointer-events: none;
}

.page2 {
    width: 100vw;
    min-height: 100vh;
    background-color: #48b379;
    color: #eee9dc;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 100%;
    font-family: "Noto Sans", sans-serif;
}

#app {
    width: 100%;
    overflow: hidden;
}

.page2 h2 {
    margin: 3em 0 0 0;
    font-size: 1.5em;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.page2 #timeline {
    width: 80%;
    list-style: none;
    margin: 3.125rem 0 1.875rem 7.5rem;
    padding-left: 1.875rem;
    border-left: 0.5rem solid #eee9dc;
}

.page2 #timeline li {
    margin: 2.5rem 0;
    position: relative;
}

.page2 #timeline p {
    margin: 0 0 0.9375rem;
}


.page2 .date {
    margin-top: -0.625rem;
    top: 50%;
    left: -9.875rem;
    font-size: 0.95em;
    line-height: 1.25rem;
    position: absolute;
}

.page2 .circle {
    margin-top: -0.625rem;
    top: 50%;
    left: -2.75rem;
    width: 0.625rem;
    height: 0.625rem;
    background: #48b379;
    border: 0.3125rem solid #eee9dc;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.page2 .content {
    max-height: 1.25rem;
    padding: 3.125rem 1.25rem 0;
    border-color: transparent;
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}

.page2 .content p{
    line-height: 1.875rem;
}

.page2 .content:before,
.page2 .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.page2 .content:before {
    border-right-color: inherit;
    border-width: 1.25rem;
    top: 50%;
    margin-top: -1.25rem;
}

.page2 .content:after {
    border-right-color: #48b379;
    border-width: 1.0625rem;
    top: 50%;
    margin-top: -1.0625rem;
}

.page2 .content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
}

.page2 label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 1.25rem;
    transition: transform 0.2s linear;
}

.page2 .radio {
    display: none;
}

.page2 .radio:checked+.relative label {
    cursor: auto;
    transform: translateX(2.625rem);
}

.page2 .radio:checked+.relative .circle {
    background: #f98262;
}

.page2 .radio:checked~.content {
    max-height: 11.25rem;
    border-color: #eee9dc;
    margin-right: 1.25rem;
    transform: translateX(1.25rem);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.page2 .radio:checked~.content p {
    max-height: 12.5rem;
    color: #eee9dc;
    transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
   * mobile phones (vertical version only)
   * ------------------------------------- */
@media screen and (max-width: 47.9375rem) {
    #timeline {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    #timeline li {
        margin: 3.125rem 0;
    }

    label {
        width: 85%;
        font-size: 1.1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        transform: translateX(1.125rem);
    }

    .content {
        padding-top: 2.8125rem;
        border-color: #eee9dc;
    }

    .content:before,
    .content:after {
        border: solid transparent;
        bottom: 100%;
    }

    .content:before {
        border-bottom-color: inherit;
        border-width: 1.0625rem;
        top: -1rem;
        left: 3.125rem;
        margin-left: -1.0625rem;
    }

    .content:after {
        border-bottom-color: #48b379;
        border-width: 1.25rem;
        top: -1.25rem;
        left: 3.125rem;
        margin-left: -1.25rem;
    }

    .content p {
        font-size: 0.9em;
        line-height: 1.4;
    }

    .circle,
    .date {
        display: none;
    }
}